/* CSS */
body {
	padding: 16px;
}

.btn {
	border-radius: 16px;
	border-width: 0;
	box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
		rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
		Ubuntu, sans-serif;
	font-size: 100%;
	height: 44px;
	line-height: 1.15;
	margin: 32px 0 0;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: all 0.2s, box-shadow 0.08s ease-in;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
}

.btn:disabled {
	cursor: default;
}

.btn:focus {
	box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
		rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
		rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

#en {
	background-color: #0d87eb;
}
#ctu {
	background-color: #2be95a;
}
#book {
	background-color: #074dce;
}
#nhu {
	background-color: #cf4abe;
}
